extends ./layout/index

block contenido 
     main.container.mt-5 
         .row 
             .col-md-5 
                  img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
             .col-md-7
                  h1 #{pagina}

                  blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at fermentum ligula. Phasellus egestas accumsan gravida. Sed imperdiet vel nisi a fringilla. Mauris hendrerit vitae nisl quis tempus. Donec eu convallis sapien, quis sollicitudin est. Cras vestibulum facilisis nisl non consequat. Duis aliquet tellus diam, vitae dapibus ante varius ut. In molestie dolor in arcu porttitor porta. Maecenas in metus bibendum, aliquet lectus accumsan, tincidunt lorem. Curabitur ut suscipit mi. Phasellus aliquam nisi ut varius consectetur. Quisque condimentum vitae elit ac iaculis. Curabitur lacinia erat a lacus tincidunt, quis auctor velit sodales. Nulla facilisis malesuada velit eget convallis.

                  p  Duis vel rhoncus metus. Etiam feugiat venenatis auctor. Proin ultricies feugiat sapien a interdum. Pellentesque fermentum elementum nulla vel fringilla. Phasellus id tellus ante. Nullam auctor nec massa facilisis tincidunt. Vestibulum laoreet arcu vitae est tincidunt dignissim.

                  p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sollicitudin, sem sed pretium tincidunt, arcu leo volutpat lectus, vel interdum ante tortor vitae lorem. Donec pretium augue mauris, sed tincidunt diam euismod ut.
     .listado-iconos 
        .container.mt-5.py-5.text-center 
              .row 
                 .col-md-4 
                      img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                      h2.mb-4 Seguridad 
                      p Duis vel rhoncus metus. Etiam feugiat venenatis auctor. Proin ultricies feugiat sapien a interdum. Pellentesque fermentum elementum nulla vel fringilla. Phasellus id tellus ante. Nullam auctor nec massa facilisis tincidunt. Vestibulum laoreet arcu vitae est tincidunt dignissim.


                 .col-md-4 
                      img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                      h2.mb-4 Mejores Destinos
                      p Duis vel rhoncus metus. Etiam feugiat venenatis auctor. Proin ultricies feugiat sapien a interdum. Pellentesque fermentum elementum nulla vel fringilla. Phasellus id tellus ante. Nullam auctor nec massa facilisis tincidunt. Vestibulum laoreet arcu vitae est tincidunt dignissim.


                 .col-md-4 
                      img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                      h2.mb-4 Los Mejores Precios 
                      p Duis vel rhoncus metus. Etiam feugiat venenatis auctor. Proin ultricies feugiat sapien a interdum. Pellentesque fermentum elementum nulla vel fringilla. Phasellus id tellus ante. Nullam auctor nec massa facilisis tincidunt. Vestibulum laoreet arcu vitae est tincidunt dignissim.
